[submodule "packages/react-client"]
	path = packages/react-client
	url = git@github.com:forinda/my-app-react-client.git
[submodule "packages/vue-client"]
	path = packages/vue-client
	url = git@github.com:forinda/my-app-vue-client.git
