@import 'tailwindcss';
@theme {
  --font-nunito: 'Nunito', 'sans-serif';
  --font-roboto: 'Roboto', 'serif';
  --color-primary: #3b28cc;
  --color-light: #f0f0f0;
  --color-dark: #1e1e1e;
  --color-lime: #8cbd62;
  --color-warning: #ffc107;
  --color-danger: #de2e2e;
}
